// body {
//   background-color: red;
// }

$primary-color: rgb(63, 186, 247);
$background-color: rgb(246,	246, 246);

$text-color-primary: rgba(0, 0, 0, 0.5);
$text-color-muted: rgba(0, 0, 0, 0.7);

$white-color: rgba(255, 255, 255, 0.9);
$white-color-muted: rgba(255, 255, 255, 0.75);
$gray-color: rgba(255, 255, 255, 0.25);
$light-gray: rgba(0, 0, 0, 0.2);

body {
  background-color: $background-color;
}

header {
  padding-top: 2rem;

  nav {
    vertical-align: middle;
    margin: 0.75rem 0;

    ul {
      margin-top: 1.5rem;
      margin-bottom: 0;

      li {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;
        }

        a {
          color: $text-color-primary;

          &:hover {
            text-decoration: none;
            padding-bottom: 3px;
            border-bottom: 3px solid $primary-color;
            color: $primary-color;
          }
        }
      }
    }
  }
}

main {
  padding: 1rem 0;

  h2, h4 {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }

  h2 {
    font-size: 1.6em;
    margin-bottom: 2rem;
  }

  h4 {
    color: $primary-color;
    margin-bottom: 1.5rem;
  }

  #description {
    padding-top: 1rem;
    padding-right: 3rem;
  }

  #steps {
    padding-left: 2.5em;
    list-style: none;

    li {
      counter-increment: step-counter;

      float: left;
      position: relative;

      color: $text-color-muted;
      margin-bottom: 1rem;
      margin-right: 1rem;

      // Circled list items
      &::before {
        content: counter(step-counter);

        position: absolute;
        left: -2.5em;
        width: 1.5em;
        height: 1.5em;

        text-align: center;
        vertical-align: middle;

        color: $light-gray;
        font-weight: 500;
        border: 1px solid $light-gray;
        border-radius: 50%;

        // font-size: 1em;
        line-height: 1.5em;
      }
    }
  }

  #screenshot {
    text-align: center;
  }
}

footer {
  background-color: $primary-color;
  color: white;
  padding: 1.5rem 0;
  font-size: 0.8em;
  font-weight: 200;

  .container .row > div:not(:last-child) {
    border-bottom: 0.5px solid $gray-color;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  h5 {
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: 0.8rem;
  }

  #contact {
    ul {
      li {
        margin-bottom: 0.4rem;
      }

      #social {
        li {
          margin-right: 1rem;
        }
      }
    }
  }

  #payments {
    #processing {
      li {
        margin-right: 1rem;
      }
    }
  }

  #download {
    ul li {
      margin-bottom: 0.75rem;
    }
  }

  #legal {
    color: $white-color-muted;
    font-size: 0.9em;
    margin-top: 1.5rem;

    a {
      color: $white-color-muted;
    }

    ul {
      display: inline-block;
      margin-top: 0.5rem;
      margin-bottom: 0;

      li {
        a:hover {
          color: white;
        }
      }
    }
  }
}

// Small
@media (min-width: 544px) {
  header {
    nav ul {
      margin-top: 0;
    }
  }

  main {
    h2 {
      font-size: 1.5em;
      margin-bottom: 1.5rem;
    }

    #description {
      padding-right: 2rem;
    }
  }
}

// Medium
@media (min-width: 768px) {
  header {
    padding: 3rem 0 2rem;

    nav ul {
      &:first-child {
        margin-left: 1.25rem;
      }
    }
  }

  main {
    padding-bottom: 0;

    #description {
      padding-top: 1rem;
      padding-right: 3rem;
    }
  }

  footer {
    padding-top: 2.5rem;

    .container .row > div:not(:last-child) {
      border-right: 0.5px solid $gray-color;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .container .row > div:not(:first-child) {
      padding-left: 2.5rem;
    }

    #legal {
      ul {
        margin-top: 0;

        li {
          margin-left: 0.75rem;
        }
      }
    }
  }
}

// Large
@media (min-width: 992px) {
  header {
    padding: 3rem 0 3rem;
  }

  main {
    h2 {
      margin-bottom: 2.5rem;
    }

    #description {
      padding-top: 3.5rem;
      padding-right: 3rem;
    }
  }
}
